*{
    margin :0;
    padding :0;
    box-sizing: border-box;
    text-align: center;
}
.navbar-button-group{
    display: flex;
    width: 38%;
    justify-content: space-evenly;
    align-items: center;
}
.navbar{
    position: fixed;
    z-index: 10000;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.JualDB{
    margin: .6rem 2rem;
    color: #B38C3F;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
}
